:host {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 400px;
  padding: 16px;
  margin: 0 auto;
}

label {
  margin-bottom: 8px;
  font-size: 1.2rem;
}

input {
  width: 100%;
  padding: 8px 16px;
  border-radius: 8px;
  background-color: gray;
}
