/* This file contains variables that don't change during runtime */

/*  Breakpoints
X-Small 	None 	<576px
Small 	sm 	≥576px
Medium 	md 	≥768px
Large 	lg 	≥992px
Extra large 	xl 	≥1200px
Extra extra large 	xxl 	≥1400px
*/

:root {
  --menu-width: 128px;
  --menu-min-width: 128px;
}
