:host {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  top: 0;
  z-index: 10;
  background-color: var(--menu-background-color);
}

nav, .options {
  display: flex;
  flex-direction: column;
  text-align: center;

  position: absolute;
  top: var(--menu-size);

  background-color: var(--background-color);
  transition: transform 0.5s linear;
}
nav{
  right: 0;
  transform: translateX(+100%);
}
.options{
  left: 0;
  transform: translateX(-100%);
}
.active {
  transform: translateX(0);
}

a {
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 8px;
  flex-direction: row-reverse;
}
a,.options > div {
  padding: var(--content-to-block-window-borders) var(--content-to-inline-window-borders);
}

a:hover,.options > div:hover {
  background-color: var(--menu-item-hover-bg);
}
@media screen and (min-width: 992px) {
  :host {
    height: 100vh;
    flex-direction: column;
  }

  nav, .options {
    width: 100%;
    position: static;
    transform: none;

  }

  a {
    flex-direction: column;
  }
}
