:host {
  max-width: calc(var(--max-row-card-num)*320px + (var(--max-row-card-num) - 1) * var(--card-gap));

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: var(--card-gap);
  margin: 0 auto;
  padding-bottom: 32px;
}

:host {
  --max-row-card-num: 1;
  --card-gap: 16px;
}

@media screen and (min-width: 768px) {
  :host {
    --max-row-card-num: 2;
  }
}
@media screen and (min-width: 992px) {
  :host {
    --max-row-card-num: 2;
  }
}
@media screen and (min-width: 1200px) {
  :host {
    --max-row-card-num: 3;
  }
}
@media screen and (min-width: 1400px) {
  :host {
    --max-row-card-num: 4;
  }
}
