:host {
  touch-action: none;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;

  padding: 0;
}

.scrollable-content {
  padding: 16px;
  position: relative;
}

.loading-content {
  padding: 16px;
  align-items: center
}

@media screen and (min-width: 992px) {
  :host > div {
    display: grid;
    grid-template-columns: max-content 1fr;
    justify-content: start;
    align-items: start;
  }

  .loading-content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
}
