@if(scrollbarModel.windowWidth() <= 992) {
  @defer (when !isLoading()){
    <div class="scrollable-content" [style.top.px] = "scrollPosition()">
      <search-sub-menu [blogInfoArray]="blogInfo()" [(filteredBlogs)]="filteredBlogs"/>
      <cards [cardData]="blogsToDisplay()"></cards>
    </div>
  } @placeholder { <p class="loading-content">Loading...</p>}
  <scrollbar
    [scrollbarHeight]="scrollbarModel.windowHeight() - scrollbarModel.getHeaderHeight()"
    [elementHeight]="scrollbarModel.elementHeight()"
    [scrollPercentage]="scrollbarModel.scrollPercentage()"
    [headerHeight]="scrollbarModel.getHeaderHeight()"
    >
  </scrollbar>
}
@else {
  @defer (when !isLoading()){
    <div>
      <search-sub-menu [blogInfoArray]="blogInfo()" [(filteredBlogs)]="filteredBlogs" />
      <div class="scrollable-content" [style.top.px]="scrollPosition()">
        <cards [cardData]="blogsToDisplay()"></cards>
      </div>
    </div>
  } @placeholder { <p class="loading-content">Loading...</p>}
  <scrollbar
    [scrollbarHeight]="scrollbarModel.windowHeight() - scrollbarModel.getHeaderHeight()"
    [elementHeight]="scrollbarModel.elementHeight()"
    [scrollPercentage]="scrollbarModel.scrollPercentage()"
    [headerHeight]="scrollbarModel.getHeaderHeight()"
    >
  </scrollbar>
}
